@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');

body{
    margin: 1% 2% ;
    background-color: #203239;
    font-family: 'Fredoka', sans-serif;
}

header h1{
    border: 0px 0px;
    padding: 0px 0px;
    margin: 0px;
    font-weight: 600;
}

header img {
    max-width: 15px;
    margin: 0 0 1px 3px;
}

header address {
    font-style: normal;
}

header address a{
    color: #203239;
    text-decoration: none;
}

header, .fundoArtigo{
    background-color: #EEEDDE;
    padding: 15px;
    border-radius: 8px;
}
.fundoArtigo {
    margin-top: 20px;    
}

hr {
    border: 1px solid #EEEDDE;
    margin-top: 20px;
    width: 100%;
}

